html {
    <!--background-image: url("../gfx/cubes.png");-->
}




/* links */
a{
    color: #000000;
    -webkit-transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    word-break: break-all;
}

a:hover, .hvr-fade:focus, .hvr-fade:active {
    color: #00509f;
    text-decoration: underline;
}

/* Links to hubs */
.hub1-hub{
    color: #000000;
    -webkit-transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    word-break: break-all;
}

.hub1-hub:hover, .hvr-fade:focus, .hvr-fade:active {
    color: #c05200;
    text-decoration: underline;
}


/* Usernames */
.hub1-username{
    color: rgba(101, 101, 101, 0.99);
}

/* Italic */
em{
    color: #444444;
}

/* H1 */
h1{
    font-size: 20px;
}

h2{
    font-size: 17px;
}

/* Quotes */
blockquote{
    color: #005a00;
    font-style: normal;
    padding-left: 5px;
    border-left: 4px solid #cccccc;
    font-size: 11px;
    line-height: 19px;
}

/* Comment article */
.hub1-comment{

}
/* Comment Header */
.hub1-comment-header{
    background-color: rgb(248, 248, 248);
    min-width: 250px;
    height:16px;
}

.hub1-threadlist div:nth-child(odd) {
   background-color: #fafafa;
}

.hub1-threadlist-entry {
   padding: 4px;
}

/* Comment body */
.hub1-comment-body{
    font-size: 11px;
    padding: 4px;
    min-width: 250px;
}

/* Border and padding to panel */
.uk-panel{
    border: solid 1px;
    border-color: #dddddd;
    padding: 4px;
}

/* Adjust Comment Box Size */
.uk-comment-list {
    padding: 0px;
    list-style: none;
}
.uk-comment-list .uk-comment + ul {
    margin: 5px 0 0 0;
    list-style: none;
}
.uk-comment-list > li:nth-child(n+2),
.uk-comment-list .uk-comment + ul > li:nth-child(n+2) {
    margin-top: 5px;
}

.uk-comment-header {
    margin-bottom: 0px;
}

.uk-comment-list .uk-comment + ul {
    padding-left: 16px
}

